.RectangleButton {
    font-size: 18px;
    line-height: 28px;
    position: relative;
    display: inline-block;
    min-height: 20px;
    margin-bottom: 2px;
    user-select: none;
    transform: skewX(355deg);
    pointer-events: all;
    border: 2px solid #040404;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 2px #040404;
}
.RectangleButton2 {
    font-size: 18px;
    line-height: 28px;
    position: relative;
    display: inline-block;
    min-height: 20px;
    user-select: none;
    transform: skewX(355deg);
    pointer-events: all;
    border: 2px solid #040404;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 2px #040404;
}

.RectangleButton__background {
    min-width: 200px;
    padding: 5px 80px 15px;
    border-top: 4px solid #4b546c;
    border-bottom: 4px solid #222b3f;
    border-radius: 2px;
    background-color: #343c52;
    box-shadow: 1px 1px #000, -1px -1px #000;
}

.RectangleButton__background2 {
    padding: 5px 15px;
    border-top: 4px solid #5b5b5b;
    border-bottom: 4px solid #2f2f2f;
    border-radius: 2px;
    background-color: #444444;
    box-shadow: 1px 1px #000, -1px -1px #000;
    cursor: pointer;
}

.RectangleButton__label {
    font-size: 18px;
}

.RectangleButton__background:after {
    border-radius: 0 3px 0 0;
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    content: " ";
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    box-sizing: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #7c8394;
}

.languageSelected {
    background-color: #656567;
}