.card {
    font-weight: 400;
    position: relative;
    display: flex;
    flex-basis: calc(50% - 40px);
    flex-direction: column;
    max-width: 250px;
    margin: 20px;
    padding: 15px;

    transition: transform 0.4s ease;
    transform: skew(-5deg);
    text-align: center;
    color: white;
    border: 2px solid #040404;
    border-radius: 4px;
    background-color: #222b3f;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.4s ease;
    gap: 1.5em;
}

.card .card-top {
    display: flex;
    justify-content: space-between;
    user-select: none;
    color: #a4a4a4;
}

.card .card-top p, .card .card-top .card-title, .card .card-bottom p, .card .card-bottom .card-title {
    margin: 0;
}

.card .card-bottom p {
    text-transform: uppercase;
}

.card .card-bottom {
    align-items: flex-end;
    user-select: none;
}

.card b {
    font-size: 30px;
}

.card .card-image b {
    margin-bottom: 20px;
    transition: transform 0.4s ease;
    color: #ffb119;
}

.card:hover {
    cursor: pointer;
    transform: skew(-5deg) scale(0.98);
}

.card:hover .card-content {
    transform: scale(0.97);
}

.card:hover .card-image b {
    transform: scale(5);
}

/*.card:active {*/
/*    transform: scale(0.9);*/
/*}*/