.ui-btn {
    --btn-default-bg: rgb(36, 36, 36);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(32, 32, 32);
    --btn-active-bg: rgb(25, 25, 25);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #ffb119;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 400;
    --font-family: lilita one, monospace;
    /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
    font: var(--font-weight) var(--font-size) var(--font-family);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 150px;
    margin-top: 30px;
    padding: var(--btn-padding);
    cursor: pointer;
    color: var(--default-btn-color);
    background: var(--btn-default-bg);
    box-shadow: var(--btn-shadow);

    transition: transform 0.4s ease;
    transform: skew(-5deg);
    text-align: center;
    border: 2px solid #040404;
    border-radius: 4px;
    margin-bottom: 15px;
}

.ui-btn span {
    position: relative;
    box-sizing: border-box;
    transition: var(--btn-transition);
    letter-spacing: var(--btn-letter-spacing);
    background: inherit;
}

.ui-btn span::before {
    position: absolute;
    box-sizing: border-box;
    content: "";
    background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:active {
    transition: 0.05s;
    background: var(--btn-active-bg);
    box-shadow: none;
}

.ui-btn:hover span, .ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}