body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

div {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #333;
}

input[type="range"] {
    width: 80%;
}

#outputContainer {
    display: none;
    margin-top: 20px;
}
